.campus-main-img {
    width: 100vw;
    transform: translateY(-40px);
}

.whatsapp-logo {
    width: 200px !important;
    margin-top: 20px;
    padding: 10px 30px;
    border: var(--thic-border);
    border-radius: 50px;
}

.campus-delivery-logo {
    width: fit-content;
    margin: auto auto;
}