/* Variable CSS */
:root {
    --background: #F6F5F6;
    --background-dark: #F4F1ED;
    /* primary */
    --primary: #FFFFFF;
    --primary-light: #d0d0d0;
    --primary-dark: #7f7f7f;
    /* secondary */
    --secondary: #091E42;
    --secondary-dark: #000000;
    /* tertiary */
    --tertiary-1: #85ffb6;
    --tertiary-2: #ffdb8c;
    --tertiary-3: #bca7ff;
    --tertiary-4: #ff8888;
    --tertiary-5: #ff74ff;
    --tertiary-dark-1: #188644;
    --tertiary-dark-2: #FFD372;
    --tertiary-dark-3: #7551DC;
    --tertiary-dark-4: #ff3939;
    --tertiary-dark-5: #ff6dff;
    --tertiary-light-1: #DAFFE9;
    --tertiary-light-2: #FAE9CF;
    --tertiary-light-3: #e7e0fc;
    --tertiary-light-4: #fecbcb;
    --tertiary-light-5: #ffdfff;
    /* form */
    --success-bg: #DAFFE9;
    --success-text: #188644;
    --failure-bg: #fecbcb;
    --failure-text: #ff3939;
    
    --card-white: rgb(241, 238, 238);
    /* other variables */
    --v-small-radius: 8px;
    --small-radius: 10px;
    --basic-radius: 20px;
    --large-radius: 30px;

    --thin-border: 0.5px solid var(--secondary-dark);
    --norm-border: 1.5px solid var(--secondary-dark);
    --thic-border: 2.5px solid var(--secondary-dark);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Black;
    src: url(../font/Poppins-Black.ttf);
}

@font-face {
    font-family: Poppins-Thin;
    src: url(../font/Poppins-Thin.ttf);
}

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Poppins-Regular;
    transition: all 200ms ease-in-out;
    overflow-x: hidden;
}

body {
    background-color: var(--tertiary-dark-2) !important;
}

.page {
    background-color: var(--tertiary-dark-2);
}

.page-contents {
    padding-block: 100px;
}
    
.flex {
    display: flex;
}

.v-big-heading {
    width: 70%;
    margin: 10vh auto;
    font-size: 140px;
    line-height: 120px;
    letter-spacing: 2px;
    text-align: center;
    overflow: hidden;
}

.big-heading {
    font-size: 56px;
    letter-spacing: 2px;
    text-align: center;
}

.simple-heading {
    font-size: 36px;
}

.simple-sub-heading {
    font-size: 24px;
}

.small-text {
    font-size: 16px;
}

.margin-block-5 {
    margin-block: 5px;
}

.margin-block-10 {
    margin-block: 10px;
}

.margin-top-20 {
    margin-top: 40px;
}

.txt-ctr {
    text-align: center;
}

.bold {
    font-weight: 600;
}

.cur {
    cursor: pointer;
}

#tertiary-1-bg {
    background-color: var(--tertiary-1);
}

#tertiary-2-bg {
    background-color: var(--tertiary-2);
}

#tertiary-3-bg {
    background-color: var(--tertiary-3);
}

#tertiary-4-bg {
    background-color: var(--tertiary-4);
}

#tertiary-light-2-bg {
    background-color: var(--tertiary-light-2);
}

#tertiary-light-3-bg {
    background-color: var(--tertiary-light-3);
}

@media (max-width: 1000px) {
    .v-big-heading {
        font-size: 100px;
        line-height: 90px;
    }
}

@media (max-width: 750px) {
    .v-big-heading {
        width: 100%;
        font-size: 80px;
        line-height: 70px;
    }
}

@media (max-width: 550px) {
    .v-big-heading {
        font-size: 50px;
        line-height: 45px;
        font-weight: 200;
        letter-spacing: 0px;
    }

    .big-heading {
        font-size: 38px;
    }

    .page {
        padding: 10px;
    }
}

/* Scrollbar CSS */
/* width */
::-webkit-scrollbar {
    width: 8px !important;
    border-radius: var(--small);
    overflow: hidden;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: var(--prim);
    border-radius: var(--basic);
}