.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-img {
    width: 100vw;
    transform: translateY(-50px);
}

.main-para {
    font-size: 28px;
}

.delivery-logos {
    justify-content: center;
    gap: 40px;
}

.delivery-logos img {
    width: 150px;
}

.vertical-hr {
    border: var(--thin-border);
    margin: 10px;
}

.out-story {
    width: 80vw;
    margin: 10vh auto;
}

.story-title {
    display: flex;
    align-items: center;
    font-size: 80px;
    width: 100%;
    line-height: 150px;
    color: var(--yellow);
    text-shadow: 4px 4px 0px var(--secondary-dark);
    overflow: none;
}

.txt-black {
    color: var(--secondary-dark);
}

.story-text {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 22px;
}