.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: var(--primary); */
}

.main-img {
    width: 100vw;
    transform: translateY(-140px);
}

.main-para {
    font-size: 28px;
}

.delivery-logos {
    justify-content: center;
    gap: 40px;
}

.delivery-logos img {
    width: 150px;
}

.vertical-hr {
    border: var(--thin-border);
    margin: 10px;
}