.nav-img-div {
    display: flex;
    gap: 20px;
    background-color: var(--primary);
    overflow: hidden;
    border-radius: var(--large-radius);
    /* inherits: nav-img; */
}

.nav-img {
    width: 200px;
    height: fit-content;
    background-color: var(--tertiary-3);
    border: var(--thin-border);
}